<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="editpage">
        <h2><%= aPokemon.name %></h2>
        <img id="pokemon-img-showpage" src="<%=aPokemon.img%>" width="300px" />
    <form action="/pokemon/<%= index %>?_method=PUT" method="POST"><br>

        <fieldset>
            <legend>Edit Pokemon</legend>
            <label>Name</label>
            <input class="newpage" type="text" name="name" value="<%= aPokemon.name %>" />
            <label>Image URL</label>
            <input class="newpage" type="text" name="img" value="<%= aPokemon.img %>" />
            <label>Type</label>
            <input class="newpage" type="text" name="type" value="<%= aPokemon.type %>" /><br>
            <label>HP</label>
            <input class="newpage" type="number" name="hp" value="<%= aPokemon.stats.hp %>" />
            <label>Attack</label>
            <input class="newpage" type="number" name="attack" value="<%= aPokemon.stats.attack %>"/>
            <label>Defense</label>
            <input class="newpage" type="number" name="defense" value="<%= aPokemon.stats.defense %>" /><br>
            <label>Spattack</label>
            <input class="newpage" type="number" name="spattack"value="<%= aPokemon.stats.spattack %>" />
            <label>Spdefense</label>
            <input class="newpage" type="number" name="spdefense" value="<%= aPokemon.stats.spdefense %>" />
            <label>Speed</label>
            <input class="newpage" type="number" name="speed" value="<%= aPokemon.stats.speed %>" /><br><br>
            <input class="submit-button" type="submit" value="UPDATE POKEMON" />
        </fieldset>
        </form>
</div>
    
</body>
</html>