<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="updatepage-container">
        <h2>Update Pokemon</h2>
        <img id="pokemon-img-showpage" src="<%=aPokemon.img%>" width="300px" />
    <form action="/pokemon/<%= index %>?_method=PUT" method="POST">
        <label>Name</label>
        <input class="editpage" type="text" name="name" value="<%= aPokemon.name %>"/><br>
        <label>Image URL</label>
        <input class="editpage" type="text" name="img" value="<%= aPokemon.img %>" /><br>
        <label>Type</label>
        <input class="editpage" type="text" name="type" value="<%= aPokemon.type %>"/><br>
        <label>HP</label>
        <input class="editpage" type="number" name="hp" value="<%= aPokemon.stats.hp %>"/><br>
        <label>Attack</label>
        <input class="editpage" type="number" name="attack" value="<%= aPokemon.stats.attack %>"/><br>
        <label>Defense</label>
        <input class="editpage" type="number" name="defense" value="<%= aPokemon.stats.defense %>"/><br>
        <label>Spattack</label>
        <input class="editpage" type="number" name="spattack" value="<%= aPokemon.stats.spattack %>"/><br>
        <label>Spdefense</label>
        <input class="editpage" type="number" name="spdefense" value="<%= aPokemon.stats.spdefense %>"/><br>
        <label>Speed</label>
        <input class="editpage" type="number" name="speed" value="<%= aPokemon.stats.speed %>"/><br>
        <input class="submit-button" type="submit" value="UPDATE POKEMON" />
    </form>
</div>
    
</body>
</html>

